In [45]:
"""Cargamos librerías"""
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
import seaborn as sn
import pylab as pl
"""Importamos bibliotecas para la visualización de árboles de decisión"""
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  
import pydotplus
import math

In [46]:
"""Cargamos el dataset"""
pima = pd.read_csv("Dataset of Diabetes.csv")
pima.head(1000)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [47]:
"""Cambio de etiquetas"""
""" [Gender] """
dicc_gender = {'F': 0, 'M':1}
pima['Gender'] =pima['Gender'].map(dicc_gender)
"""[CLASS] => 'N' = 1,  P=2, 'Y'= 3 """
dicc_class = {'N':0, 'P':1, 'Y':2}
pima['CLASS'] =pima['CLASS'].map(dicc_class)

In [48]:
"""Determina variables objetivo (dependiente) y características (independiente)"""
feature_cols = ['ID', 'No_Pation', 'Gender','AGE', 'Urea','Cr', 'HbA1c', 'Chol', 'TG','HDL','LDL','VLDL','BMI']
X = pima[feature_cols] # features
y = pima.CLASS # target
pima.head(800)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,780,34546,1,60,4.9,33,10.2,3.9,0.6,1.3,2.3,0.3,29.0,2
796,525,34547,0,60,2.1,34,12.3,6.2,5.8,1.0,3.0,2.0,30.0,2
797,226,34548,0,61,7.1,45,13.6,6.6,2.6,1.1,4.4,1.1,31.0,2
798,523,34549,0,63,2.8,54,11.2,4.2,1.1,1.7,1.4,2.0,36.0,2
799,115,34550,1,55,5.1,71,9.7,3.2,1.4,1.0,3.0,2.0,33.0,2

In [49]:
"""Dividimos el conjunto de datos en proporción de conjunto de prueba y entrenamiento (70:30)"""
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [50]:
"""crear el objeto clasificador del árbol de decisión"""
clf = DecisionTreeClassifier()
"""Entrenamos el clasificador del árbol de decisión"""
clf = clf.fit(X_train,y_train)
"""Predecimos la respuesta para el conjunto de datos de prueba"""
y_pred = clf.predict(X_test)

In [51]:
"""Calculamos mas métricas del árbol sin podar"""
"""Calulamos la exactitud de nuestro modelo"""
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

"""Calculamos la sensibilidad de nuestro modelo"""
print("Recall:", metrics.recall_score(y_test, y_pred, average='macro'))

"""Calculalos la precisión de nuestro modelo"""
print("Precision:", metrics.precision_score(y_test, y_pred, average='macro'))

Accuracy: 0.9666666666666667
Recall: 0.9009589947089948
Precision: 0.9375661375661376